[submodule "third_party/Implib.so"]
	path = third_party/Implib.so
	url = https://github.com/JoshuaWierenga/Implib.so.git
[submodule "third_party/ctags"]
	path = third_party/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "third_party/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "third_party/raygui"]
	path = third_party/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "third_party/raylib-games"]
	path = third_party/raylib-games
	url = https://github.com/raysan5/raylib-games.git
[submodule "third_party/rlImGui"]
	path = third_party/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/xorgproto"]
	path = third_party/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto.git
[submodule "third_party/microwindows"]
	path = third_party/microwindows
	url = https://github.com/ghaerr/microwindows.git
[submodule "third_party/mesa"]
	path = third_party/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "third_party/mesademos"]
	path = third_party/mesademos
	url = https://gitlab.freedesktop.org/mesa/demos.git
[submodule "third_party/glu"]
	path = third_party/glu
	url = https://gitlab.freedesktop.org/mesa/glu.git
